@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo&family=Rubik:wght@500&display=swap');

h1{
	margin-top:15%;
	text-align: center;
	color: #325288;
	font-size: 80px;
	font-family: 'Rubik', sans-serif;
}
h3{
	text-align: center;
	color: #325288;
	font-size: 25px;
	font-family: 'KoHo', sans-serif;
}

.feilds{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#define{
	width: 25%;
	height: 35px;
	border: 3px groove #114e60;
	margin-right: 100px;
	font-family: 'KoHo', sans-serif;
	font-size: 20px;
	text-align: center;
}
#button{
	background-color: #114e60;
	font-family: 'KoHo', sans-serif;
	font-size: 20px;
	color: #f4eee8;
	text-align: center;
	border: 3px #114e60;
	min-height: 30px;
}
#age_teller
{
	text-align: center;
	color: #325288;
	font-size: 65px;
	font-family: 'KoHo', sans-serif;
}
#left_teller
{
	text-align: center;
	color: #325288;
	font-size: 105px;
	font-family: 'KoHo', sans-serif;
}
